*{margin:0;padding:0;}

body, html{
	height: 100%;
	font-family: segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	background:rgb(255, 255, 255);
	margin: 0;
	scroll-behavior: smooth;

}
.top_bar{
	overflow: hidden;
	background-color: rgba(0,0,0,0.9);
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index:3;
}
.top_bar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}
.top_bar a:hover {
	background: #d89dfa;
	color: black;
}
.main{
	height: 100%;
	background:rgb(255, 255, 255);
	margin: 0;
}
.temp{
	position:sticky;
	z-index:2;
	background:#11011b;
	font-size:3vw;
	color:#fff;
	padding:2%;
	
}

.temp *{
	max-width:900px;
}
.logo{
	
	position: absolute;
    padding: 5%;
    background-color: #765da08f;
    border-radius: 25px;
	width:75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}
.logo h1{
	font-family: segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	font-size:4vw;
 	font-weight: normal;
	color:#fff;
	position: relative;
	top: 5vw;
    left: 60%;
    transform: translate(-50%, -50%);

}
.logo h2{
	font-family: segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	font-size:3vw;
 	font-weight: normal;
	color:rgb(0, 0, 0);
	position: relative;
	top: 5vw;
    left: 60%;
    transform: translate(-50%, -50%);


}
.logo img{
	width:25%;
	height: 25%;
	border-radius: 50%;
	float: left;
}
.aboutme{
	font-family: segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	font-size:2vw;
 	font-weight: normal;
	color:rgb(255, 255, 255);
	position: relative;
	padding: 5%;
	text-align: justify;
  text-justify: inter-word;
}

