.parallax {
    /* The image used */
    background-image: url('Images/logo.png');
  
    /* Full height */
    /*width:100%;
    /*height: 100%; 
  
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    position:relative;
    z-index:1;
  }
  .parallax img{
    display:block;
    width:100%; 
    height:auto;
  }