.parallax {
    /* The image used */
    
    min-height: 100%;
    position: relative;
    opacity: 1;
   
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#second,#home{
  background-image: url('Images/background.png');
}

#first{
  background-image: url('Images/background.png');
}

#third{
  background-image: url('Images/background.png');
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}