*{margin:0;padding:0;}

body, html{
	height: 100%;
	font-family: segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	background:rgb(255, 255, 255);
	margin: 0;
	scroll-behavior: smooth;

}
.top_bar{
	overflow: hidden;
	background-color: rgba(0,0,0,0.9);
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index:3;
}
.top_bar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}
.top_bar a:hover {
	background: #d89dfa;
	color: black;
}
.main{
	height: 100%;
	font-family: 'Slabo 27px', serif;
	background:rgb(255, 255, 255);
	margin: 0;
}
.temp{
	position:relative;
	z-index:2;
	background:rgba(0,0,0,0.8);
	font-size:27px;
	color:#fff;
	padding:5%;
  }

.temp *{
	max-width:900px;
	margin:5% auto;
}
.logo{
	position:absolute;
	padding:5%;
	background-color: #d89dfa;
	border-radius: 25px;
	/*max-width:700px;*/
	margin:5%;
	margin-top: 10%;
	
}
.logo h1{
	font-family: segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	font-size:27px;
 	font-weight: normal;
	color:#fff;

}
.logo img{
	width:25%;
	height: 25%;
	border-radius: 50%;
}