*{margin:0;padding:0;}

body, html{
	height: 100%;
	font-family: 'Slabo 27px', serif;
	background:#000;
	margin: 0;
}

.temp{
	position:relative;
	z-index:2;
	background:rgba(0,0,0,0.8);
	font-size:27px;
	color:#fff;
	padding:5%;
  }

.temp *{
	max-width:900px;
	margin:5% auto;
  }